@model DevRainSolutions.KyivSmartCity.New.Models.NewsItem

@* This partial view defines form fields that will appear when creating and editing entities *@

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name, new
           {
               htmlAttributes = new
                   {
                       @class = "form-control"
                   }
           })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div>
    @Html.LabelFor(model => model.Description)
</div>
<div>
    @Html.EditorFor(model => model.Description, new
           {
               htmlAttributes = new
                   {
                       @class = "form-control"
                   }
           })
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div>
    @Html.LabelFor(model => model.DatePublished)
</div>
<div>
    @Html.EditorFor(model => model.DatePublished, new
           {
               htmlAttributes = new
                   {
                       @class = "form-control",
                   }
           })
    @Html.ValidationMessageFor(model => model.DatePublished)
</div>

<div>
    @Html.LabelFor(model => model.IsPublished)
</div>
<div>
    @Html.EditorFor(model => model.IsPublished)
    @Html.ValidationMessageFor(model => model.IsPublished)
</div>

<div>
    @Html.LabelFor(model => model.Image)
</div>
<div>
    @Html.EditorFor(model => model.Image, new
           {
               htmlAttributes = new
                   {
                       @class = "form-control"
                   }
           })
    @Html.ValidationMessageFor(model => model.Image)
</div>

<div>
    @Html.LabelFor(model => model.Body)
</div>
<div>
    @Html.EditorFor(model => model.Body)
    @Html.ValidationMessageFor(model => model.Body)
</div>

