@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.NewsItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            DatePublished
        </th>
        <th>
            IsPublished
        </th>
        <th>
            Image
        </th>
        <th>
            Body
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:g}", item.DatePublished)
        </td>
        <td>
			@item.IsPublished
        </td>
        <td>
			@item.Image
        </td>
        <td>
			@item.Body
        </td>
    </tr>
}

</table>


