@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.NewsItem>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th></th>
        <th></th>
        <th>
            Name
        </th>
       
        <th>
            DatePublished
        </th>
        <th>
            IsPublished
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
        <td>
            <img src="@item.Image"  style="width: 100px;"/>
        </td>
        <td>
			@item.Name
        </td>
       
        <td>
			@String.Format("{0:g}", item.DatePublished)
        </td>
        <td>
			@item.IsPublished
        </td>
        
    </tr>
}

</table>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))