@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.Group>
@{
    ViewBag.Title = "Хакатон \"Київ Smart City\"";
    ViewBag.IsMain = true;
    var counter = 1;
}


<div style="margin-bottom: 40px">

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.4&appId=242663235886929";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-like" data-href="https://www.facebook.com/smartcitykyiv"
         data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>


<h3>Де і коли?</h3>

<h3 style="color:red">Увага! Змінилось місце проведення хакатону!</h3>
<p>
    5-6 вересня 2015 р., <a href="http://atmasfera.com.ua/">Атмасфера360</a>, вул. Велика Васильківська, 57/3, будівля Київського Планетарію, ст. м. Олімпійська
</p>

<p>
    Участь в заході безкоштовна, необхідно зареєструватись.
    Якщо у вас є цікаві ідеї, сили та натхнення, щоб допомогти улюбленому місту, реєструйтеся <a href="http://goo.gl/forms/MjQSGcTHiX" target="_blank" rel="nofollow">тут</a>. Представників ЗМІ ми теж завжди раді бачити, тож запрошуємо зареєструватися за <a href="http://goo.gl/forms/VDSmG6TJw8" target="_blank" rel="nofollow">цим посиланням</a>. Усі питання можна адресувати на адресу info@devrain.com.
</p>



<h3 class="margin">Критерії оцінювання проектів</h3>

<p>
    Мета хакатону - за відведений час (24-72 годин) розробити готовий продукт або прототип.
    Хакатони на соціальну та міську тематику мають певні особливості - за цей час дуже важко
    створити щось конкретне та корисне. Тому в нашому випадку дуже важливим є загальна проробленість
    проблеми або рішення.
</p>
<p>
    Ви хочете створити мобільний застосунок, але немає даних чи АПІ? В такому разі почніть з АПІ.
    Наявність публічного АПІ в <i>довгостроковій</i> перспективі набагато важливіше за наявність клієнту для
    однієї/двох мобільних платформ. Подумайте, хто і яким чином буде забезпечувати цілісність, актуальність
    та оновлювальність даних. Запропонуйте модель інтеграції з існуючими сервісами міста та список
    організацій, міністерств чи відділів, хто міг би або мав би наповнювати цю базу даних. Переконайтесь, щоб
    у разі втрати інтересу до вашого проекту в майбутньому цей проект міг би розвиватись без вас -
    відкрийте програмний код, напишіть документацію по його використанню, запропонуйте волонтерам приєднатись до
    вашого проекту.
</p>


<table class="table">
    <tr>
        <th>#</th>
        <th style="width: 250px">Назва</th>
        <th>Опис</th>
        <th>Бали</th>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Актуальність проекту з точки зору громадян міста
        </td>
        <td>
            Проект учасників повинен вирішувати певну проблему міста, повинен бути актуальним
            та мати практичне або стратегічне значення для міста.
        </td>
        <td>20</td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Використання сервісів, АПІ міста та відкритих даних
        </td>
        <td>
            Пріоритет буде надаватись проектам, які зможуть запропонувати приктичне використання сервісів
            міста та відкритих даних. Якщо тих чи інших даних немає у наявності чи вони не доступні,
            проте проект буде вартий уваги, нашою задачею буде знайти можливість забезпечити
            учасників необхідними даними під час хакатону або після його завершення.
        </td>
        <td>40</td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Системність підходу щодо вирішення проблеми
        </td>
        <td>
            Ми розуміємо, що розробити повноцінний сервіс чи мобільний застосунок за 24 години важко,
            а при відсутності и часковій доступності тих чи інших даних зробити це буде ще важко.
            Тому ми будемо оцінювати не скільки завершеність проекту, скільки системний підхід щодо
            вирішення задачі - розуміння проблематики, наявність опрацьованих матеріалів, наявність даних,
            аналіз аналогів інших міст і загальне бачення розвитку проекту.
        </td>
        <td>30</td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Робота з менторами
        </td>
        <td>
            На хакатоні будуть присутні ментори та експерти в різних питаннях - як технічних, як і не технічних.
            Тісне спілкування з менторами та експертами значно підвищує шанс, що ваш проект буде дійсно
            збалансований з точку зору всіх учасників процесу і ви не витратите час на речі, які не є актуальними
            або мають вже робочі аналоги.
        </td>
        <td>10</td>
    </tr>
</table>


<h3>Презентація проектів</h3>
<p>
    Прохання ознайомитись з критеріями оцінювання і на їх базі будувати свою презентацію.
    Враховуючи велику кількість команд, час виступу буде невеликим - 3-4 хв, тому потрібно максимально
    чітко і коротко відповісти на такі запитання:
</p>

<ol>
    <li>
        Яку проблему вирішує ваш проект і хто ваша цільова аудиторія
        (хто буде користовуватись вашим продуктом)?
    </li>
    <li>
        Чи зробили ви аналіз готових рішень в Україні/світі?
        Як ви в своєму проекті використали світовий досвід?
    </li>
    <li>
        Які дані/сервіси міста/держави ви використовуєте або плануєте використовувати?
        Якщо даних в даний момент немає в наявності, хто може надати ці дані (міністерство, комітет, відділ міста)?
    </li>
    <li>
        Чи знаєте ви предметну область? Чи знаєте ви, як в даний момент вирішується ваша проблема?
    </li>
    <li>На якій стадії проект і що потрібно, щоб максимально швидко закінчити проект?</li>
    <li>
        Функціональність вашого проекту перетинається з функціональністю facebook чи інших популярних ресурсів?
        Якщо перетинаються,
        то чому користувачі будуть користуватись саме вашим сервісом, а не сервісом, де вже зареєстровані
        переважна більшість їх друзів/колег/сусідів?
    </li>
</ol>

<p>
    Буде надаватись перевага проектам, які:
</p>

<ol>
    <li>Не є "велосипедами", а використовують світовий досвід та наявні розробки.</li>
    <li>Використовують відкриті дані та сервіси міста.</li>
    <li>Інтегруються або можуть бути інтегрованими в існуючі системи/реєстри міста, доповнюють та розширюють їх фунціональність.</li>
    <li>Не є комплексними рішеннями і вирішують одну проблему в одній області.</li>

</ol>

<p>
    Наприклад, серед двох проектів - "створення платформи, за допомогою якої можна
    відправити опис проблеми/аварії тощо" і "створення проекту зі статистикою виконання запитів
    громадян через сервіс 1551" перевага буде надаватись другому проекту.

    Якщо у вас немає робочого прототипу на мобільній або веб-платформі, проте
    зроблений аналіз рішень, розроблено ТЗ, проаналізовано які дані і від кого вам потрібні, то
    цей проет матиме перевагу над проектом, де буде зроблений технічний прототип рішення,
    проте буде "відірваний" від реальних даних.

    Якщо ви використовуєте декілька АПІ чи дані з різних джерел, не потрібно реалізовувати/парсити їх всі,
    достатньо продемонструвати архітектуру рішення та, максимум, одну інтеграцію.

    Не потрібно робити авторизацію, реєстрацію користувачів, адмін панелі,
    і інші компоненти, які є стандартними для всіх проектів -
    використувайте тестові дані, без авторизації і сконцентруйтесь на АПІ/даних/архітектурі рішень.

</p>

<p>
    Переконайте жюрі, що ви розбираєтесь в предметній області проекту і доведіть, що у вас
    достатньо ресурсів, щоб завершити проект.
</p>

<h3>Подача заявки на презентацію проекта</h3>
<p>
    Прохання з 13:00 до 14:30 заповнити всю інформацію в формі нижче:
</p>
<p>
    <iframe src="https://docs.google.com/forms/d/1sb75ZY6Wv_yBU6F4o-nyYwUTNZcz2Qf-bIuBlrTaEzM/viewform?embedded=true" width="760" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</p>


<h3 class="margin">Інформація для ЗМІ</h3>
<p>
    Представники ЗМІ матимуть можливість поспілкуватись з організаторами та учасниками протягом
    всього хакатону. Проте для вашої зручності ми проведемо окрему прес-конференцію безпосередньо
    перед презентаціями проектів.

    Прохання представникам ЗМІ зареєструватись за <a href="http://goo.gl/forms/VDSmG6TJw8">цим посиланням</a>.
</p>

<p>
    В прес-конференції будуть приймати участь:
</p>

<ol>
    <li>Назаров Юрій, радник київського міського голови. Співкоординатор Kyiv Smart City.</li>
    <li>
        Мойсеєнко Антон, Co-founder GiveMeALift. Співкоординатор Kyiv Smart City.
    </li>
    <li>
        Краковецький Олександр, CEO DevRain Solutions, керівник групи по роботі з ІТ спільнотою в рамках робочої группи "Київ Smart City", Microsoft Most Valuable Professional, Microsoft Regional Director, PhD.
    </li>
</ol>

<h3 class="margin">Програма хакатону</h3>
<table class="table">
    <tr>
        <th>Час</th>
        <th>Опис</th>
        <th>Дата</th>
    </tr>
    <tr>
        <td>11:00-12:00</td>
        <td>Реєстрація учасників.</td>
        <td>5 вересня, субота</td>
    </tr>
    <tr>
        <td>12:00-12:30</td>
        <td>Вітальне слово від організаторів та партнерів </td>
        <td>5 вересня, субота</td>
    <tr>
        <td>12:30-14:00</td>
        <td>Пітчі учасників для формування команд (в кого їх немає). Інструктаж для команд, початок роботи.</td>
        <td>5 вересня, субота</td>
    </tr>
    <tr>
        <td>14:00-19:00</td>
        <td>
            Менторські сесії (для бажаючих).

            <table class="table">
                <tr>
                    <td>
                        14:00
                    </td>

                    <td>
                        Kyiv Smart City 2015: короткий підсумок та огляд рішень
                    </td>
                    <td>
                        Мойсеєнко Антон<br />
                        <i>
                            Co-founder GiveMeALift. Співкоординатор Kyiv Smart City.
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        14:30
                    </td>

                    <td>
                        Підходи до побудови "смарт сіті" рішень з використанням big data та відкритих даних
                    </td>
                    <td>
                        Кучеренко Олег<br />
                        <i>
                            Експерт групи Київ Смарт Сіті, Development Director Gazer Ltd.
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        15:00
                    </td>

                    <td>
                        Введення в SAP HANA Cloud Platform
                    </td>
                    <td>
                        Буденко Юрій<br />
                        <i>
                            Development Expert в SAP.
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        15:30
                    </td>
                    <td>
                        Як НЕ-програмісти можуть створювати розумні міста.
                        Інструменти для швидкої інтеграції API.
                    </td>
                    <td>
                        Попов Максим<br />
                        <i>
                            Замісник керівника Центру електронного бізнесу
                            по впровадженню хмарних технологій в Приватбанку
                        </i>
                    </td>
                </tr>

                <tr>
                    <td>
                        16:30
                    </td>

                    <td>
                        Kyiv Urban Fest як носій стратегії WISE CITY
                    </td>
                    <td>
                        Педай Олена<br />
                        <i>
                            Співзасновник Kiev Urban Fest, ініціатор програм "Безбар'єрный Київ", голова ГО "ДемАльянс Допомога".
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        17:00
                    </td>

                    <td>
                        А ви знаєте, що потрібно вашому клієнту?
                    </td>
                    <td>
                        Солнцев Олексій<br />
                        <i>
                            Senior Delivery Manager у EPAM Systems Ukraine, експерт
                            по розробці програмного забезпечення та методогіям управління проектами.
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        17:30
                    </td>

                    <td>
                        Особливості розробки сервісів 1551 і роботи з ними.
                    </td>
                    <td>
                        Єфремов Олександр<br />
                        <i>
                            CTO в KitSoft, розробник порталів 1551 і КМДА.
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>
                        18:00
                    </td>

                    <td>
                        Використання Azure Mobile Services для швидкого створення REST API
                    </td>
                    <td>
                        Бойко Антон<br />
                        <i>
                            Експерт по платформі Microsoft Azure і хмарним технологіям, Microsoft Most Valuable Professional.
                        </i>
                    </td>
                </tr>

                <tr>
                    <td>
                        18:30
                    </td>

                    <td>
                        SQL vs. NoSQL
                    </td>
                    <td>
                        Резник Денис<br />
                        <i>
                            Director R&D у TFG, спеціаліст по базам даних, Microsoft Most Valuable Professional.
                        </i>
                    </td>
                </tr>

            </table>
        </td>
        <td>5 вересня, субота</td>
    </tr>

    <tr>
        <td>14:00</td>
        <td>Закінчення роботи над проектами, підготовка команд до презентацій.</td>
        <td>6 вересня, неділя</td>
    </tr>
    <tr>
        <td>14:00-15:00</td>
        <td>Прес-конференція для ЗМІ.</td>
        <td>6 вересня, неділя</td>
    </tr>
    <tr>
        <td>15:00-17:00</td>
        <td>Презентації команд, визначення переможців.</td>
        <td>6 вересня, неділя</td>
    </tr>
    <tr>
        <td>17:00</td>
        <td>Підбиття підсумків хакатону.</td>
        <td>6 вересня, неділя</td>
    </tr>
</table>

<h3 class="margin">Ресурси з відкритими даними та API</h3>

@{ counter = 1;}

<table class="table">


    <tr>
        <th>#</th>
        <th>
            Назва
        </th>
        <th>
            Відповідальна/контактна особа
        </th>
        <th>
            Посилання
        </th>
    </tr>

    <tr>
        <td>@(counter++).</td>
        <td>
            CityScale - відкриті дані
        </td>
        <td>CityScale</td>
        <td>
            <a href="http://www.cityscale.com.ua/opendata.htm">Веб-сайт</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            Реєстри та відкриті бази даних
        </td>
        <td>n/a</td>
        <td>
            <a href="https://docs.google.com/document/d/1HDl0hbD_wB9yaE74R58BsRbXvPGSzGV4Xyy0dba_atY/edit?usp=sharing">Переглянути документ</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            1551 API
        </td>
        <td>
            Єфремов Олександр<br />
            CTO в KitSoft, розробник порталів 1551 і КМДА, ментор.
        </td>
        <td>
            <a href="https://www.dropbox.com/s/rhbygvpu7i9fgpj/API.%20%D0%9E%D0%B1%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD%201551.pdf?dl=0">API</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            НБУ
        </td>
        <td>
            Чаплинський Дмитро, <a href="https://github.com/dchaplinsky">github</a>
        </td>
        <td>
            <a href="http://nbu.rocks/">nbu.rocks</a>, <a href="https://github.com/dchaplinsky/nbu.rocks">github</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            ДонорUA
        </td>
        <td>
            Краковецький Олександр, ментор.
        </td>
        <td>
            <a href="https://donor.ua/api">donor.ua/api</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            Київпастранс - відкриті дані
        </td>
        <td>
            Бажаючі зайнятись створенням відкритого АПІ розкладу маршрутів - звертатись до Краковецького Олександра за додатковою інформацією.
        </td>
        <td>
            <a href="http://kpt.kiev.ua/information/passengers/timetable/">Веб-сайт</a>
        </td>
    </tr>
    <tr>
        <td>@(counter++).</td>
        <td>
            Міністерство інфраструктури України
        </td>
        <td></td>
        <td>
            <a href="http://new.mtu.gov.ua/timeline/Vidkriti-dani.html">Веб-сайт</a>
        </td>
    </tr>

</table>


@{ counter = 1;}
<h3 class="margin">Ментори та експерти</h3>
<table class="table mentors">
    <tr>
        <th>#</th>
        <th>&nbsp;</th>
        <th style="width: 250px">Ім'я</th>
        <th>Опис</th>
        <th>Контакти</th>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="http://s9.postimg.org/9ksns63f3/Nazarov.jpg" />
        </td>
        <td>
            Назаров Юрій
        </td>
        <td>
            Радник київського міського голови. Співкоординатор Kyiv Smart City.
        </td>
        <td>
            <a href="https://www.facebook.com/yuriy.nazarov.3">fb.com/yuriy.nazarov.3</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="https://habrastorage.org/files/23e/5db/8c0/23e5db8c0cad4d04bf7e95a16af0a988.jpg" />
        </td>
        <td>
            Резник Денис
        </td>
        <td>
            Director R&D у Intapp, спеціаліст по базам даних, Microsoft Most Valuable Professional.
        </td>
        <td>
            <a href="https://www.facebook.com/denis.reznik.5">fb.com/denis.reznik.5</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="http://habrastorage.org/files/e3d/a9e/34a/e3da9e34a4514086b9ff20e07f59bc7c.jpg" />
        </td>
        <td>
            Галушко Михайло
        </td>
        <td>
            CTO/Co-Founder <a href="http://devrain.com">DevRain Solutions</a>, спеціаліст по розробці програмного забезпечення, Microsoft Most Valuable Professional.
        </td>
        <td>
            <a href="https://www.facebook.com/mykhaylo.galushko">fb.com/mykhaylo.galushko</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="https://habrastorage.org/files/bf2/03a/3c5/bf203a3c57f94d3c8f48babc8b6208ec.png" />
        </td>
        <td>
            Єфремов Олександр
        </td>
        <td>
            CTO в KitSoft, розробник порталів 1551 і КМДА.
        </td>
        <td>
            <a href="https://www.facebook.com/profile.php?id=100003085578775">fb.com/profile.php?id=100003085578775</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="http://habrastorage.org/files/c1c/f09/866/c1cf0986677c4209b4c7c76b69930d9a.jpg" />
        </td>
        <td>
            Бойко Антон
        </td>
        <td>
            Експерт по платформі Microsoft Azure і хмарним технологіям, Microsoft Most Valuable Professional.
        </td>
        <td>
            <a href="https://www.facebook.com/boyko.ant">fb.com/boyko.ant</a>
        </td>
    </tr>


    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/148/0da/1869d13.jpg" />
        </td>
        <td>
            Мойсеєнко Антон
        </td>
        <td>
            Co-founder GiveMeALift. Співкоординатор Kyiv Smart City.
        </td>
        <td>
            <a href="https://www.facebook.com/a.moyseyenko">fb.com/a.moyseyenko</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="https://habrastorage.org/files/f42/06a/015/f4206a01517d43e08157ec7924087060.jpg" />
        </td>
        <td>
            Солнцев Олексій
        </td>
        <td>
            Senior Delivery Manager у EPAM Systems Ukraine, експерт по розробці програмного забезпечення та методогіям управління проектами.
        </td>
        <td>
            <a href="https://www.facebook.com/aleksey.solntsev">fb.com/aleksey.solntsev</a>
        </td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="http://hsto.org/files/f3b/95d/b80/f3b95db8024c463eaa099c5e3e2abba2.jpg" />
        </td>
        <td>
            Краковецький Олександр
        </td>
        <td>
            CEO <a href="http://devrain.com">DevRain Solutions</a>, керівник групи по роботі з
            ІТ спільнотою в рамках робочої группи "Київ Smart City", Microsoft Most Valuable Professional, Microsoft Regional Director, PhD.

        </td>
        <td>alex.krakovetskiy@gmail.com, <a href="https://www.facebook.com/alex.krakovetskiy">fb.com/alex.krakovetskiy</a>, <a href="https://twitter.com/msugvnua">@@msugvnua</a></td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td></td>
        <td>
            Гопанюк Олег
        </td>
        <td>
            SAP

        </td>
        <td></td>

    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            <img src="/Images/prosto.jpg" />
        </td>
        <td>
            Олександр Просто
        </td>
        <td>
            Засновник та головний розробник CityScale.com.ua. Пошук, обробка та поширення даних. Відкриті дані.

        </td>
        <td></td>

    </tr>

</table>

<h3 class="margin">Склад жюрі</h3>

<ol>
    <li>
        Міма Андрій, ко-фаундер і комерційний директор ЛУН.
    </li>
    @* <li>
            Назаров Юрій, радник київського міського голови, співкоординатор Kyiv Smart City.
        </li>*@
    <li>
        Ніконов Ігор,
        перший заступник голови Київської міської державної адміністрації.
    </li>
    <li>
        Побережний Дмитро, SAP.
    </li>
    <li>
        Лопушенко Олена, Керівник департаменту аналізу та розвитку рішень SAP, MBA.
    </li>
    <li>
        Котух Євген, Project Manager в Астеліт.

    </li>
    <li>
        Закатова Ірина, Miratech.
    </li>
</ol>


@{ counter = 1;}
<h3 class="margin">Призи та заохочення</h3>
<table class="table">
    <tr>
        <th>#</th>
        <th>Опис</th>
        <th>Компанія</th>
        <th>Кількість</th>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Інформація про кращі проекти буде розміщена на офіційному порталі КМДА.
            Проектам буде надана допомога зі сторони офіційних структур для завершення проекту,
            інтеграції з іншими установами та допомога в плані отримання доступу до необхідних даних/сервісів.
            Кращі проекти будуть мати можливість презентувати
            свої проекти перед інвесторами.
        </td>
        <td>КМДА</td>
        <td>3-5</td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Фінансова та менторська допомога для кращого проекту за версією ЛУН.ua.
        </td>
        <td>ЛУН.ua</td>
        <td>0-1</td>
    </tr>
    <tr>
        <td>
            @(counter++).
        </td>
        <td>
            Участь у програмі для стартапів Microsoft BizSpark.
        </td>
        <td>Майкрософт Україна</td>
        <td>1-3</td>
    </tr>
    @*
        <tr>
            <td>
                @(counter++).
            </td>
            <td>
                Участь в програмі для стартапів <a href="http://startupfocus.saphana.com/">SAP Startup Focus</a>.
            </td>
            <td>SAP</td>
            <td>1</td>
        </tr>*@
</table>


<h3 class="margin">Партнери</h3>
<p>
    Презентацію для партнерів можна завантажити за <a target="_blank"
                                                      href="https://www.dropbox.com/s/e302mn00bftmovy/Hackaton%20Kyiv%20Smart%20City.pdf?dl=0">цим посиланням</a>.
    Запитання, партнерські пропозиції прохання відправляти на адресу
    alex.krakovetskiy@gmail.com.
</p>




<h4 class="margin">Партнери:</h4>

<table class="table">

    <tr>
        <td>
            <a href="http://miratech.ua/"><img src="/Images/miratech.jpg" /></a>
        </td>

        <td style="font-size: 125%">
            <p style="color: red; font-weight: bold">Генеральний партнер</p>
            <p>
                Міратех надає аутсорсингові та інші ІТ послуги корпоративним клієнтам у всьому світі.
                R&D-центри розташовані в Польщі, Словаччині та в Україні.
                Міратех входить в усі основні галузеві рейтинги, включаючи Global Services 100,
                Software 500®, Global Outsourcing 100® і в Топ-5 найкращих компаній у Східній
                Європі за даними IAOP®.
            </p>
        </td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/miratechgroup" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <p><a href="https://twitter.com/MiratechGroup" class="twitter-follow-button" data-show-count="false">Follow @@MiratechGroup</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.lun.ua/" target="_blank" title="Ищете недвижимость в Киеве? Интересуют новостройки в Киеве? Аренда квартир, комнат, офисов, продажа квартир - ЛУН.ua">
                <img src="/Images/lun.png" />
            </a>
        </td>

        <td>
            <p>
                ЛУН - нерухомість Києва та України: новобудови, продаж і оренда, квартири подобово.
            </p>
        </td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/lun.ua" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <p><a href="https://twitter.com/lun_ua" class="twitter-follow-button" data-show-count="false">Follow @@lun_ua</a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="http://lohika.com.ua/" target="_blank" title="Lohika">
                <img src="/Images/lohika.jpg" />
            </a>
        </td>

        <td>
            <p>
                Lohika спеціалізується на R&D та технологічно складних проектах,
                тривалій співпраці з клієнтами. Haш головний офіс знаходиться у Сан Бруно, Каліфорнія, у серці Силіконової Долини.
                В Україні Центри розробки зосереджені у трьох містах: Львів, Одеса і Київ. Кожен з них унікальний, і ми пишаємося нашим талановитим і професійним колективом.
                Основними напрямками розробки є: розробка для мобільних пристроїв, мережеві технології, інженерія якості, веб розробка.

            </p>
        </td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/pages/Lohika/253302288033498" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>

            <p>
                <a href="https://twitter.com/lohikasystems" class="twitter-follow-button" data-show-count="false">
                    Follow @@lohikasystems
                </a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://luxoft.com">
                <img src="/Images/LXFT_4_NB_New.png" />
            </a>
        </td>

        <td>
            <p>
                Luxoft – провідна компанія на світовому ринку розробки програмного забезпечення на замовлення. Пропонує широкий спектр висококласних послуг у сфері інформаційних технологій, включаючи розробку програмного забезпечення, бізнес- та ІТ-консалтинг, впровадження бізнес-пропозицій, ІТ-аутсорсинг.
            </p>
            <p>
                На сьогоднішній день Luxoft Україна нараховує 3700+ співробітників і продовжує рости та розвиватись, що обумовлює велику кількість вакансій на ролі ІТ-спеціалістів різних спеціалізацій.
            </p>
            <p>Ключові факти:</p>
            <ul>

                <li>
                    №1 в області розробки програмного забезпечення на замовлення у Східній та Центральній Європі – згідно рейтингу Datamonitor Group
                </li>
                <li>
                    9000+ висококваліфікованих співробітників
                </li>
                <li>
                    15 років постійного розвитку
                </li>
                <li>
                    130+ клієнтів по всьому світу, 30% із FORTUNE 500
                </li>
                <li>
                    27 офісів у 16 країнах
                </li>
                <li>750+ унікальних тренінгів у Навчальному центрі Luxoft</li>
            </ul>
        </td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/Luxoft.Ukraine" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <p>
                <a href="https://twitter.com/luxoft" class="twitter-follow-button" data-show-count="false">Follow @@luxoft</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.kmcp.kiev.ua/" target="_blank" title="Київський молодіжний центр праці">
                <img src="/Images/kmcp.png" />
            </a>
        </td>

        <td>Київський молодіжний центр праці</td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/KmcpKiev" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>

        </td>
    </tr>
    <tr>
        <td>
            <a href="http://devrain.com" target="_blank" title="SAP">
                <img src="/Images/SAP_grad_R_pref.jpg" />
            </a>
        </td>

        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a href="http://devrain.com" target="_blank" title="DevRain Solutions">
                <img src="http://devrain.com/Images/logo.png" />
            </a>
        </td>

        <td>
            <p>
                Українська ІТ компанія, що спеціалізується на розробці мобільних, веб та хмарних рішень на
                платформах Microsoft, iOS, Android, Xamarin. Лідер в розробці мобільних спенаріїв на платформі для Windows Phone за версією Microsoft Україна.
            </p>
        </td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/DevRainSolutions" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </p>

            <p>
                <a href="https://twitter.com/devrain" class="twitter-follow-button" data-show-count="false">
                    Follow @@devrain
                </a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.life.ua/uk/" target="_blank" title="life:) – 3G+ мережа №1. Найшвидший 3G Інтернет в Україні!">
                <img src="/Images/life.png" />
            </a>
        </td>

        <td>У травні 2015 року life:) став першим оператором на українському ринку, який запустив зв'язок третього покоління на основі технології 3G+. Ця технологія є останнім досягненням у розвитку 3G-стандарту. Завдяки перспективним частотам та триканальній передачі даних максимальна швидкість у мережі 3G+ може досягати до 63,3 Мбіт за секунду. Усі переваги 3G+ представлені на <a href="http://3g.life.ua">3g.life.ua</a>.</td>
        <td>
            <p>
                <div class="fb-like" data-href="https://www.facebook.com/lifeua" data-layout="standard"
                     data-action="like" data-show-faces="true" data-share="true"></div>
            </p>
            <p>
                <a href="https://twitter.com/lifeua" class="twitter-follow-button" data-show-count="false">
                    Follow @@lifeua
                </a>

            </p>

        </td>
    </tr>
    <tr>
        <td>
            <a href="http://urbantech.kuf.org.ua/" target="_blank" title="">
                <img src="/Images/urban.png" />
            </a>
        </td>

        <td>
            Виставка технологій та рішень для міста, 19 – 20 вересня 2015 Київ
        </td>
        <td>
          

        </td>
    </tr>
</table>




<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>


