@model DevRainSolutions.KyivSmartCity.New.Models.TeamMember

@* This partial view defines form fields that will appear when creating and editing entities *@

<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div>
    @Html.LabelFor(model => model.ImageUrl)
</div>
<div>
    @Html.EditorFor(model => model.ImageUrl)
    @Html.ValidationMessageFor(model => model.ImageUrl)
</div>

<div>
    @Html.LabelFor(model => model.Description)
</div>
<div>
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div>
    @Html.LabelFor(model => model.Email)
</div>
<div>
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div>
    @Html.LabelFor(model => model.Twitter)
</div>
<div>
    @Html.EditorFor(model => model.Twitter)
    @Html.ValidationMessageFor(model => model.Twitter)
</div>

<div>
    @Html.LabelFor(model => model.Facebook)
</div>
<div>
    @Html.EditorFor(model => model.Facebook)
    @Html.ValidationMessageFor(model => model.Facebook)
</div>

<div>
    @Html.LabelFor(model => model.LinkedIn)
</div>
<div>
    @Html.EditorFor(model => model.LinkedIn)
    @Html.ValidationMessageFor(model => model.LinkedIn)
</div>

