@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.TeamMember>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            ImageUrl
        </th>
        <th>
            Description
        </th>
        <th>
            Contact details
        </th>
        <th>
           Index
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.ImageUrl
        </td>
        <td>
			@item.Description
        </td>
        <td>
            @item.Email
            <br/>
            @item.Twitter
            <br/>
            @item.Facebook
            <br/>
            @item.LinkedIn
        </td>
        <td>
            @item.Index
        </td>
    </tr>
}

</table>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))