@using DevRainSolutions.KyivSmartCity.New.Models
@{
    string title = ViewBag.Title + " - Kyiv Smart City";
    var image = ViewBag.OgImage ?? Url.ContentAbsUrl("~/Images/main-top-bg.jpg");
    var description = ViewBag.Description ?? "Що об’єднує такі міста як Відень, Торонто, Париж, Нью-Йорк, Лондон, Токіо, Берлін, Копенгаген, Гонконг та Барселона? Усі – належать до ТОП-10 «розумних» міст планети. Вони активно застосовують інформаційно-комунікаційні технології аби більш ефективно використовувати ресурси, зберігати енергію, підвищувати якість життя мешканців, зменшувати негативний вплив на навколишнє середовище та підтримувати інновації. Чи потрапить до переліку Smart cities Київ? Все залежить від тебе!";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kyiv Smart City</title>
    <meta http-equiv="Content-Language" content="uk-UA">
    <meta name="Description" content="@description" />
    <meta name="Keywords" content="смарт сіті, розумне місто, Київ, електронний уряд, smartcity" scheme="" />
    <meta property="og:title" content="@title" />
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@image" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="/Scripts/social-likes.min.js"></script>
    <link rel="stylesheet" href="/Content/social-likes_birman.css" />

    <script>
        $(document).ready(function () {
            $("#check").click(function () {
                if ($(this).is(':checked')) {
                    $("#submit-button").removeAttr('disabled');
                } else {
                    $("#submit-button").attr('disabled', 'disabled');
                }
            });
        });
    </script>

</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="/Images/logo.png" style="height: 20px" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Session2020", "Home", new {area = ""})">Сесія</a>
                    </li>
                @*
    <li><a href="@Url.Action("Index", "Home", new {area = "Hackathon"})">Хакатон</a></li>*@
                    <li>
                        <a href="@Url.Action("Index", "Team", new {area = ""})">Команда</a>
                    </li>
                    <li>    
                        <a href="@Url.Action("Index", "Groups", new {area = ""})">Групи</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "News", new {area = ""})">
                            Новини
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Projects", new {area = ""})">Проекти</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Join", "Home", new {area = ""})">Долучитись до проекту</a>
                    </li>
                  
                    <li>
                        <a href="@Url.Action("Forum2015", "Home", new { area = "" })">
                            Форум 2015
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Home", new {area = ""})">Українська</a></li>
                            <li><a href="@Url.Action("Index", "Home", new {area = "En"})">English</a></li>
                        </ul>
                    </li>

                    @*
                        <li>@Html.ActionLink("English version", "Index", "En")</li>*@
                </ul>@*
                    @Html.Partial("_LoginPartial")*@
            </div>
        </div>

    </div>


    @if (ViewBag.IsMain != null)
    {
        <div class="jumbotron" style="background: url('/Images/bg-session.jpg') bottom right; background-size: cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        @*
                        <h1 style="color: white">Хакатон "Kyiv Smart City"</h1>
                        <p class="lead">
                            Мета – зібрати під одним дахом талановитих людей, яким не байдуже майбутнє Києва. Хакатон присвячений розробці сервісів та мобільних застосунків на базі відкритих даних та API міста, що зможуть покращити життя киян та сприятимуть розвитку Києва як «розумного міста».
                        </p>
                        <p>
                            <a href="http://goo.gl/forms/MjQSGcTHiX" target="_blank" rel="nofollow" class="btn btn-danger btn-lg">Зареєструватись</a>
                            <a href="@Url.Action("Index", "Home", new {area = "Hackathon"})" style="font-size: 70%; color: lightgrey">Деталі</a>
                        </p>*@

                        @*
    <h1 style="color: white">Kyiv Smart City</h1>
    <p class="lead">Що об’єднує такі міста як Відень, Торонто, Париж, Нью-Йорк, Лондон, Токіо, Берлін, Копенгаген, Гонконг та Барселона? Усі – належать до ТОП-10 «розумних» міст планети. Вони активно застосовують інформаційно-комунікаційні технології аби більш ефективно використовувати ресурси, зберігати енергію, підвищувати якість життя мешканців, зменшувати негативний вплив на навколишнє середовище та підтримувати інновації. Чи потрапить до переліку Smart cities Київ? Все залежить від тебе!</p>
    <p>
        <a href="@Url.Action("Join", "Home")" class="btn btn-primary btn-lg">Долучитись до проекту &raquo;</a>
    </p>*@

                        <h1>Сесія по визначенню <br/>візії Kyiv Smart City 2020</h1>
                        <p class="lead" style="color: black">
                            Громадська думка має величезне значення для нашого проекту. Запрошуємо всіх активних та небайдужих киян взяти участь у публічному обговоренні візії та концептуального бачення Києва як «розумного міста».</p>
                        <p>
                            <a href="https://docs.google.com/forms/d/1r2Q30snnuVvTF26bX0FcdqptvLx3WfdK_QStNbouqdE/viewform?c=0&w=1"
                               target="_blank"
                               class="btn btn-primary btn-lg">Зареєструватись &raquo;</a>

                            <a href="@Url.Action("Session2020", "Home", new {area = ""})" 
                               style="font-size: 70%; color: black">Деталі</a>

                        </p>
                    </div>
                </div>



                
                 
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    }
    else
    {
        <div class="container body-content" style="border-top: 1px solid #eee;">
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Feedback")
    @Html.Partial("_GoogleAnalytics")
</body>
</html>

