@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Body
        </th>
        <th>
            Experts
        </th>
        <th>
            Documents
        </th>
        <th>
            TeamMember
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.Body
        </td>
        <td>
			@(item.Experts == null ? "None" : item.Experts.Count.ToString())
        </td>
        <td>
			@(item.Documents == null ? "None" : item.Documents.Count.ToString())
        </td>
        <td>
			@(item.TeamMember == null ? "None" : item.TeamMember.Name)
        </td>
    </tr>
}

</table>


