@model DevRainSolutions.KyivSmartCity.New.Models.Document

@* This partial view defines form fields that will appear when creating and editing entities *@

<div>
    @Html.LabelFor(model => model.Title)
</div>
<div>
    @Html.TextBoxFor(model => model.Title, new{@class="form-control"})
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div>
    @Html.LabelFor(model => model.Description)
</div>
<div>
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div>
    @Html.LabelFor(model => model.GroupId)
</div>
<div>
    @Html.DropDownListFor(model => model.GroupId, ((IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.Group>)ViewBag.PossibleGroups).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Title), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.GroupId)
}), "Choose...", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.GroupId)
</div>
